


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/cyborg/bootstrap.min.css">
<div class="navbar fixed-top" style="font-size:20px; background-color:black; padding:10px;">
        <div class="nav-header" style="font-family: 'New Rocker', cursive; font-size: 35px;">
            <div class="nav-title">
                <a href="#head">

                  <!-- LOGO HERE -->
                </a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <a href="#about">About</a> | <a href="#skills">Orders</a>  |  <a href="#projects">
                    <span class="badge badge-danger">11</span>
                    Notifications</a> |  <a href="#contacts">Stock</a>
            
            
           
        </div>
    </div>
    <br>
    <br>
    <br>